{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">Products</h6>
                <h1 class="display-5">Our Fresh & Organic Products</h1>
            </div>
                <div class="pb-5">
                    <div class="product-item position-relative bg-white d-flex flex-column text-center">
                        <img  class="btn btn-primary py-md-3 px-md-8 me-6" style="width: 400px; height: 400px;" src="{{product.img.url}}" alt="">
                        <h6 class="mb-3">{{ product.name }}</h6>
                        <h5 class="text-primary mb-0">{{ product.price }} $</h5>
                        <div class="btn-action d-flex justify-content-center">
                            <a class="btn bg-primary py-2 px-3" href="{{Products.get_absolute_url}}"><i class="bi bi-cart text-white"></i></a>
                            <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->

{% endblock content %}